
@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-100.woff2) format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-200.woff2) format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-300.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-500.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-600.woff2) format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-700.woff2) format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-800.woff2) format('woff2');
    font-weight: 800;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-900.woff2) format('woff2');
    font-weight: 900;
}


body {
    width: 1440px;
    height: 1024px;
    background-color: #F6F7F8;
}

.frame-40 {
    display: flex;
    margin-top: 206.4px;
    margin-left: 296px;
    margin-right: 486.4px;
    margin-right: 487.04px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.frame-40 span {
    color: #000;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 73.2px;
}

.frame-40 p {
    color: #2A3647;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.4px;
}

.frame-71 {
    margin-top: 88px;
    margin-left: 328px;
    margin-right: 552px;
    display: flex;
    width: 560px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
}

.frame-65 {
    display: flex;
    width: 560px;
    height: 168px;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.pencil-rectangle-button-v1 {
    display: flex;
    width: 264px;
    height: 168px;
    padding: 38px 58px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.frame-59 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.frame-59 img {
    width: 69px;
    height: 69px;
}

.frame-62 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame-62 span {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76.8px;
}

.frame p {
    color: #2A3647;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.cheack-reactangle-button-v1 {
    display: flex;
    width: 264px;
    height: 168px;
    padding: 38px 58px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.frame-59 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.frame-59-ellipse {
    width: 69px;
    height: 69px;
}

.frame-59-prio-alta {
    position: absolute;
    width: 34.1861px;
    height: 25.116px;
}

.frame-60 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame-60 span {
    width: 50px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76.8px;
}

.frame-60 p {
    color: #2A3647;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.urgency-summary-v1 {
    display: flex;
    margin-top: 28px;
    height: 168px;
    justify-content: center;
    align-items: center;
    padding: 28px 48px;
    gap: 61px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10); 
}

.frame-67 {
    display: flex;
    align-items: center;
    gap: 18px;
}

.frame-59 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.frame-59-ellipse {
    width: 60px;
    height: 60px;
}

.frame-59-prio-alta {
    width: 34.1861px;
    height: 25.116px;
}

.frame-63 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame-63 span {
    width: 50px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76.8px;
}

.frame-63 p {
    color: #2A3647;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
}

.separation-gray {
    width: 30px;
    height: 102.023px;
    stroke-width: 2px;
    color: #D1D1D1;
}

.frame-68 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    color: #2A3647;
}

.frame-68 span {
    color: #2A3647;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 25.2px;
}

.fram-68 p {
    color: #2A3647;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
}

.frame-64 {
    display: flex;
    width: 560px;
    height: 170px;
    padding: 1px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
}

.square-button-v1 {
    display: flex;
    width: 168px;
    height: 168px;
    padding: 25px 0px;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.frame-61 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame-61 span {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76.8px;
}

.frame-61 p {
    color: #2A3647;
    text-align: center;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.frame-69 {
    position: absolute;
    margin-left: 968px;
    margin-right: 87.04px;
    margin-top: 547.52px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.header-text {
    width: 338px;
    color: #2A3647;
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 56.4px;
}

.footer-text {
    width: 385px;
    color: #29ABE2;
    font-family: Inter;
    font-size: 64px;
    font-size: normal;
    font-weight: 700;
    line-height: 76.8px;
}
