
*{
    border: 1px solid red !important;
}

.frame-191 {
  height: 232px;
  width: 1208px;
  display: flex;
  align-items: center;
  padding: 0 64px 0 64px;
}

.frame-192 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 73px;
}

.frame-192 h1 {
  color: #000;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 73.2px */
}

.frame-123 {
  display: flex;
  align-items: center;
}

.frame-123 input {
  height: 30%;
  display: flex;
  width: 312px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
}

.frame-123-btn {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  justify-content: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background: #2a3647;
}

.frame-123-btn img {
  color: black;
}
.frame-123-btn span {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.frame-123-inp {
  display: flex;
}

.board-dist {
  padding: 0 64px 0 64px;
  width: 1208px;

  display: flex;
  justify-content: space-between;
  gap: 26px;
}

.frame-136 {
  height: 350px;
  width: 25%;
  /* height auf 0 setzen, wenn fertig! */
}

.board-sections-headline {
  color: var(--menu-color, #42526e);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
}

.category-board {
  display: flex;
  justify-content: space-between;
}

.plus-board-container {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid var(--Version-2-main-color, #2a3647);
}

.card-board {
  margin-top: 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 24px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}
