
@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-100.woff2) format("woff2");
    font-weight: 100;   
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-200.woff2) format("woff2");
    font-weight: 200;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-300.woff2) format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-400.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-500.woff2) format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-600.woff2) format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-700.woff2) format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-800.woff2) format("woff2");
    font-weight: 800;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter-v13-latin-900.woff2) format("woff2");
    font-weight: 900;
}

body {
    background: #F5F5F5;
}

.frame-40 {
    color: #000;
    font-family: Inter;
    font-size: 3.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.575rem;
    margin-left: 20.5rem;
    margin-top: 12.87rem;
    margin-right: 52.13rem;
    
}

.input-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame-219 {
    display: flex;
    width: 27.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 20.5rem;
    margin-top: 3rem;
    margin-right: 42rem;
}

.title-v1 {
    display: flex;
    width: 27.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.title-v1 label {
    color: #2A3647;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.required {
    color: #FF8190;
    position: absolute;
    left: 23.8rem;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.frame-203 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    align-self: stretch;
}

.frame-14 {
    display: flex;
    padding: 0.75rem 1.3125rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.625rem;
    border: 1px solid #D1D1D1;
    background: #FFF;
}

.placeholder {
    flex: 1 0 0;
    color: #D1D1D1;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    padding-left: 0.5rem;
}

.input-title {
    flex: 1 0 0;
    color: #2A3647;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.warning-info-1 {
    color: rgba(255, 129, 144, 0);
    width: 7.4375rem;
    height: 0.75rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9rem;
}

.description-v1 {
    display: flex;
    width: 27.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.description-v1 span {
    align-self: stretch;
    color: #2A3647;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.frame-207 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    align-self: stretch;
}

.frame-17 {
    display: flex;
    height: 7.5rem;
    padding: 1.125rem 1rem;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.625rem;
    color:  #D1D1D1;
    background: #FFF;
}

.frame-17 textarea {
    flex: 1 0 0;
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    height: 7.5rem;
}


.frame-17 img {
    width: 1.18125rem;
    height: 1.18125rem;
    right: 0.38125rem;
    bottom: 0.38125rem;
    color: #D1D1D1;
    position: absolute;
    left: 46.2rem;
    top: 43rem;
}

.asigned-to-v1 {
    margin-top: 1rem;
    display: flex;
    width: 27.5rem;
    height: 5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.assigned-to {
    width: 7rem;
    flex: 1 0 0;
    color: #2A3647;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.frame-74 {
    display: flex;
    width: 27.5rem;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.625rem;
    border: 0.0625rem solid #D1D1D1;
    background-color: #FFF;
}

.selcet-contacts {
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.frame-74 img {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.vector-4 {
    stroke-width: 1px;
    stroke: #D1D1D1;
    margin-left: 51rem;
    height: 20.4rem;
    margin-right: 39rem;
    width: 0.00006rem;
    height: 26.5rem;
    flex-shrink: 0;
}

.frame-39