
.contact-checkbox {
    display: flex; /* Checkbox verstecken */
    cursor: pointer;
}

.contact-info {
    transform: translateX(4000px); /* Start außerhalb des Bildschirmes */
    transition: ease-in-out 1.35s; /* Animation */
    /* weitere css eigenschafte */
}

.contact-checkbox:checked + .contact-label + .contact-info {
    transform: translateX(500px);
}