
.header {
    border: 1px solid red;
    display: flex;
    width: 90rem;
    padding: 1.25rem 2.5rem 1.25rem 21.75rem;
    justify-content: space-between;
    align-items: center;
}

.kanban_body {
    border: 1px solid red;
    padding: 1.25rem 2.5rem 1.25rem 21.75rem;
    justify-content: space-between;
    align-items: center;
}

.frame-42 {
    border: 1px solid red;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.help_icon {
    border: 1px solid red;
    width: 2rem;
    height: 2rem;
}