    <div class="navigation">
      <div class="header">
        <span class="kpmt-header">Kanban Project Management Tool</span>
        <div class="frame-42">
          <img class="help_icon" src="./../img/help.svg" alt="Help Icon" />
          <div class="frame-31">
            <img src="../img/ellipse-3.svg" alt="" class="ellipse-3" />
            <img src="../img/group-9.svg" alt="" class="group-9" />
          </div>
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="container" id="content"></div>
    </div>