
    <div class="backgrund">
        <div class="img_logo">
            <img src="./../img/capa-2.svg" alt="Logo">
        </div>
        <div class="menu_list">
            <div id="summary" class="img_name">
                <img src="./../img/summary_icon.svg" alt="Summary">
                <a href="../summary.html">Summary</a>

            </div>
            <div id="add_task" class="img_name">
                <img src="./../img/add_task_icon.svg" alt="Add Task">
                <a href="../addtask.html">Add Task</a>
            </div>
            <div id="board" class="img_name">
                <img src="./../img/bord_img.svg" alt="Board">
                <a href="../board.html">Board</a>
            </div>
            <div id="contacts" class="img_name">
                <img src="./../img/contacts_img.svg" alt="Contacts">
                <a href="../contacts.html">Contacts</a>
            </div>
        </div>
        <div class="footer">
                <div class="font">
                    <a href="../privacy_policy.html">Privacy Policy</a>
                </div>
                <div class="font">
                    <a href="../legal_notice.html">Legal Notice</a>
                </div>
        </div>
    </div>