
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu_deskop_left</title>
    <link rel="stylesheet" href="./menu_deskop_left.css">
</head>
<body>
    <div class="backgrund">
        <div class="img_logo">
            <img src="./../img/capa-2.svg" alt="Logo">
        </div>
        <div class="menu_list">
            <div class="img_name">
                <img src="./../img/summary_icon.svg" alt="Summary">
                <p>Summary</p>
            </div>
            <div class="img_name">
                <img src="./../img/add_task_icon.svg" alt="Add Task">
                <p>Add Task</p>
            </div>
            <div class="img_name">
                <img src="./../img/bord_img.svg" alt="Board">
                <p>Board</p>
            </div>
            <div class="img_name">
                <img src="./../img/contacts_img.svg" alt="Contacts">
                <p>Contacts</p>
            </div>
        </div>
        <div class="footer">
                <div class="font">
                    <p>Privacy Policy</p>
                </div>
                <div class="font">
                    <p>Legal notice</p>
                </div>
        </div>
    </div>
</body>
</html>