
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu_deskop_left</title>
    <link rel="stylesheet" href="./menu_deskop_left.css" type="text/css">
</head>
<body>
    <div class="backgrund">
        <div class="img_logo">
            <img src="./../img/capa-2.svg" alt="Logo">
        </div>
        <div class="menu_list">
            <div id="summary" class="img_name">
                <img src="./../img/summary_icon.svg" alt="Summary">
                <span>Summary</span>
            </div>
            <div id="add_task" class="img_name">
                <img src="./../img/add_task_icon.svg" alt="Add Task">
                <span>Add Task</span>
            </div>
            <div id="board" class="img_name">
                <img src="./../img/bord_img.svg" alt="Board">
                <span>Board</span>
            </div>
            <div id="contacts" class="img_name">
                <img src="./../img/contacts_img.svg" alt="Contacts">
                <span>Contacts</span>
            </div>
        </div>
        <div class="footer">
                <div class="font">
                    <span>Privacy Policy</span>
                </div>
                <div class="font">
                    <span>Legal notice</span>
                </div>
        </div>
    </div>
</body>
</html>