<div class="frame-3">
  <img src="./../img/capa-2.svg" alt="Logo" class="capa-2" />

  <div class="menu">
    <a id="summary" class="frame-10" href="../summary.html">
      <img src="./../img/summary_icon.svg" alt="Summary" class="icons" />
      <span>Summary</span>
    </a>

    <a id="add_task" class="frame-10" href="../addtask.html">
      <img src="./../img/add_task_icon.svg" alt="Add Task" class="icons" />
      <span>Add Task</span>
    </a>

    <a id="board" class="frame-10" href="../board.html">
      <img src="./../img/bord_img.svg" alt="Board" class="icons" />
      <span>Board</span>
    </a>

    <a id="contacts" class="frame-10" href="../contacts.html">
      <img src="./../img/contacts_img.svg" alt="Contacts" class="icons" />
      <span>Contacts</span>
    </a>
  </div>

  <div class="footer">
    <a id="privacy_policy" class="font" href="../privacy.html">
      <span>Privacy Policy</span>
    </a>
    <a id="legal_notice" class="font" href="../legal.html">
      <span>Legal Notice</span>
    </a>
  </div>
</div>
