h1{
    width: fit-content;
    font-family: var(--version-2-t1-font-family);
    font-weight: var(--version-2-t1-font-weight);
    color: #000000;
    font-size: var(--version-2-t1-font-size);
    letter-spacing: var(--version-2-t1-letter-spacing);
    line-height: var(--version-2-t1-line-height);
    white-space: nowrap;
    font-style: var(--version-2-t1-font-style);
}

.container {
    padding: 80px 20px 0 80px;
    display: flex;
    flex-direction: column;
    gap: 0;
}