body{
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    background-color: #F6F7F8;
}

.logo_container{
    position: absolute;
    top: 0;
    height: 10vw;
    width: 10vw;
    min-height: 130px;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms ease-in-out;
    background-color: #F6F7F8;
}

.big_size{
transition: 500ms ease-in-out;
    height: 100vh;
    width: 100vw;
}

.join_logo{
    height: 50%;
}

.sign_up_menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px;
    gap: 10px;
}

.sign_up_menu p{    
    text-decoration: none;
    color: #091931 !important;
    margin: 0;
    cursor: default;
}

.btndark{
    padding: 15px, 24px, 15px, 24px;
    border-radius: 8px;
    color: #FFFFFF !important;
    background-color: #091931 !important;
}

.btndark:hover{
    border-color: #091931 !important;
    background-color:#FFFFFF !important;
    color: #091931 !important;
}

