
body {
    width: 90rem;
    height: 64rem;
    background-color: #F6F7F8;
}

.frame-40 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}

.frame-40 span {
    color: #000;
    font-family: Inter;
    font-size: 3.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.575rem;
}

.frame-40 p {
    color: #2A3647;
    font-family: Inter;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.025rem;
}

.frame-71 {
    display: flex;
    width: 35rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.75rem;
    margin-left: 6rem;
    margin-top: 3.5rem;
}

.frame-65 {
    display: flex;
    width: 35rem;
    height: 10.5rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.pencil-rectangle-button-v1 {
    display: flex;
    width: 16.5rem;
    height: 10.5rem;
    padding: 2.375rem 1.1875rem;
    justify-content: center;
    align-items: center;
    gap: 1.125rem;
    border-radius: 1.875rem;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.frame-59 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.frame-59 img {
    width: 4.3125rem;
    height: 4.3125rem;
}

.frame-62 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame-62 span {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.8rem;
}

.frame p {
    color: #2A3647;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.cheack-reactangle-button-v1 {
    display: flex;
    width: 16.5rem;
    height: 10.5rem;
    padding: 2.375rem 3.625rem;
    justify-content: center;
    align-items: center;
    gap: 1.125rem;
    border-radius: 1.875rem;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.frame-59 {
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
}

.frame-59 img {
    width: 4.3125rem;
    height: 4.3125rem;
}

.frame-60 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame-60 span {
    width: 3.125rem;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.8rem;
}

.frame-60 p {
    color: #2A3647;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.urgency-summary-v1 {
    display: flex;
    width: 35rem;
    height: 10.5rem;
    padding: 1.75rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 3.8125rem;
    border-radius: 1.875rem;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10); 
}

.frame-67 {
    display: flex;
    align-items: center;
    gap: 1.125rem;
}

.frame-59 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.frame-59-ellipse {
    width: 3.75rem;
    height: 3.75rem;
}

.frame-59-prio-alta {
    width: 2.13663rem;
    height: 1.56975rem;
}

.frame-63 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame-63 span {
    width: 3.125rem;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.8rem;
}

.frame-63 p {
    color: #2A3647;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
}

.trennung-grau {
    width: 1.875rem;
    height: 6.37644rem;
    stroke-width: 2px;
    color: #D1D1D1;
}

.frame-68 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8125rem;
    color: #2A3647;
}

.frame-68 span {
    color: #2A3647;
    font-family: Inter;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.575rem;
}

.fram-68 p {
    color: #2A3647;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
}

.frame-64 {
    display: flex;
    width: 35rem;
    height: 10.625rem;
    padding: 0.0625rem 0rem;
    justify-content: center;
    align-items: flex-start;
    gap: 1.75rem;
}

.square-button-v1 {
    display: flex;
    width: 10.5rem;
    height: 10.5rem;
    padding: 1.5625rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 0.8125rem;
    border-radius: 1.875rem;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.frame-61 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame-61 span {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.8rem;
}

.frame-61 p {
    color: #2A3647;
    text-align: center;
    font-family: Inter;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.frame-69 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.1875rem;
    margin-left: 46rem;
    margin-top: 34.22rem;
}

.header-text {
    width: 21.125rem;
    color: #2A3647;
    font-family: Inter;
    font-size: 2.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.525rem;
}

.footer-text {
    width: 24.0625rem;
    color: #29ABE2;
    font-family: Inter;
    font-size: 4rem;
    font-size: normal;
    font-weight: 700;
    line-height: 4.8rem;
}
